.menu-toggler {
  @apply md:hidden relative flex h-12 cursor-pointer items-center justify-start overflow-hidden;
  width: 30px;

  span {
    @apply absolute transform rounded-full bg-background transition-[transform] duration-500;
    width: 30px;
    left: 0;
    height: 2px;

    &:nth-child(1) {
      transform: translateY(-10px);
    }

    &:nth-child(3) {
      transform: translateY(10px);
    }
  }

  &.active {
    span {
      &:nth-child(1) {
        transform: translateY(0px) rotate(45deg);
        width: 30px;
      }

      &:nth-child(2) {
        transform: translateX(100px);
      }

      &:nth-child(3) {
        transform: translateY(0px) rotate(315deg);
        width: 30px;
      }
    }
  }
}
