<main class="text-primary">
  <div class="flex justify-between">
    <h2 class="display-1">Orders</h2>
  </div>
  <div class="w-full bg-primary h-0.5"></div>
<!--
  <div class="shadow-primary rounded-2xl my-5 border-2 border-primary w-full h-100">
    <div *ngFor="let order of orders let last = last">
      <div class="m-2 flex justify-between">
        <div>
          <h3>Order {{order.orderNumber}} from {{order.purchaseDate | date: 'mm.dd.yyyy'}}</h3>
        </div>
        <div >
          sum 130€
        </div>
      </div>
      <div class="flex justify-between m-2">
        <div *ngFor="let ticket of order.tickets">
          <h3>1x {{ticket.title}}</h3>
        </div>
        <button> Download tickets</button>
      </div>
      <div *ngIf="!last" class="bg-primary h-0.5"></div>
    </div>
  </div>
  -->
</main>
